
* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Caption", sans-serif;
  }
  
  body {
    background-image: url("../src/life.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
  }
  h1 {
    color: #fffff3;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
  }
  
  ul {
    margin: 0 20 10px;
    padding: 0;
  }
  
  li {
    color: #032b2b;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
  }
  
  .weather-app {
    border: 1px solid #ab9ee9;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 650px;
    background: #92b9498a;
    border-radius: 10px;
  }
  
  .weather-icon {
    height: 64px;
    width: 64px;
    margin-right: 10px;
  }
  
  .temperature {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
  }
  
  .units {
    position: relative;
    top: -35px;
  }
  
  .search-form {
    margin-bottom: 20px;
  }
  a {
    color: #314d4a;
  }
  .btn {
    background-color: #bbd8d4f3;
    color: #6f7886f3;
  }
  .btn:hover {
    background-color: #74d6b5;
    color: rgb(230, 207, 207);
  }

  .github {
    color: #fffffff3;
    display: block;
    font-size: 18px;
    padding: 12px 10px 10px 330px;
    
  }

  .github:hover {
    text-decoration: underline;
  }